@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 75px">Witamy w CodeNest! &#128187;</h1>
    <p style="font-size: 35px"> CodeNest to nowe doskonałe narzędzie do rezerwacji korepetycji i kursów&#128293;!</p>
    <p style="font-size: 35px">Utwórz konto następnie wpisz z jakiego przedmiotu szukasz wsparcia, albo inspiracji, naciśnij enter i czerp z źródła wiedzy! </p>
</div>
