<h2 class="display-4">Mój pulpit</h2>

<p><a href="/Teacher/ListAssignedCourses"><button>Moje kursy</button></a></p>
<p><a href="/Teacher/Calendar"><button>Przejdź do kalendarza zajęć</button></a></p>
