
@*  Logic to check whether the user is logged in or not *@
@inject IHttpContextAccessor HttpContextAccessor

@{
    var role = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    string username = "";

    if (role == "User" && userId != null)
    {
        var db = (AppDbContext)Context.RequestServices.GetService(typeof(AppDbContext))!; // this returns an object of type we  specify
        // Context is current Http context
        // RequestServices is a service container for resolving dependencies
        // We get the service that is of type AppDbContext
        var user = db.Users.FirstOrDefault(u => u.UserId.ToString() == userId);
        username = user?.UserName?? "";
    }
    else if (role == "Teacher" && userId != null)
    {
        var db = (AppDbContext)Context.RequestServices.GetService(typeof(AppDbContext))!;
        var teacher = db.Teachers.FirstOrDefault(t => t.TeacherId.ToString() == userId);
        username = teacher?.UserName?? "";
    }
    
    else if (role == "Admin" && userId != null)
    {
        var db = (AppDbContext)Context.RequestServices.GetService(typeof(AppDbContext))!;
        var admin = db.Users.FirstOrDefault(u => u.Role == "Admin");
        username = admin?.UserName?? "Admin";
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeNest</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeNest.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodeNest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            @{
                                switch (role)
                                {
                                    case "User":
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Dashboard">Strona główna</a>
                                        break;
                                    case "Teacher":
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Dashboard">Strona główna</a>
                                        break;
                                    case "Admin":
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminDashboard">Strona główna</a>
                                        break;
                                    default:
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
                                        break;
                                }
                            }
                        </li>
                        @* requires implementation   WHAT THE HELL DO I HAVE TO IMPLEMENT HERE?????? I FORGOT IN 2 HOURS*@
                        <li class="nav-item">
                            @{
                                if (!string.IsNullOrEmpty(username))
                                {
                                    switch (role)
                                    {
                                        case "User":
                                        {
                                            //...
                                            break;
                                        }
                                        case "Teacher":
                                            
                                            //...
                                            break;
                                        case "Admin":
                                            //...
                                            break;
                                        default:
                                            //...
                                            break;
                                    }
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a>
                        </li>
                    </ul>
                    
                    @* implement for admin *@
                    <ul class="navbar-nav ms-auto">
                        @if (string.IsNullOrEmpty(username))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text dark" asp-controller="Account" asp-action="RegisterUser">Rejestracja</a> 
                            </li>
                            
                            @* <li class="nav-item"> *@
                            @*     <a class="nav-link text dark" asp-controller="Account" asp-action="RegisterUser">Rejestracja</a>  *@
                            @* </li> *@
                        }
                        else
                        {
                            <li class="nav-item">
                                <span class="nav-link text-dark">Hello, @username!</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CodeNest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
